.testCase {
  background-color: rgb(46, 96, 59);
  width: 500px;
  height: 445px;
  border-radius: 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

  filter: brightness(1);
  transition: filter 0.3s ease-in-out;

  &:hover {
    filter: brightness(1.2);
  }
}

.heading {
  font-size: 25px;
  line-height: 25px;
  margin: 0px;
  padding: 10px;
  color: rgb(244, 255, 221);
}
