@use "../styles/settings.scss" as *;

.root {
  max-width: 1280px;
  margin: 0 auto;
  margin-left: auto;
  padding: 2rem;
  text-align: center;
  background-color: $co-terminal;
  color: $co-textTerminal;
}

.title {
  margin-bottom: 0;
}

.subtitle {
}
